#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.text-light {
  color: var(--clr-text-light);
}

#app .container {
  width: 376px;
  height: 666px;
  z-index: 100;

  background: #252525;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .9);
  overflow-y: scroll;
}

#app .container-view {
  padding: 5px;
  transition: all 0.2s ease;
}

#app .container-view h1 {
  margin-left: 8px;
  background: linear-gradient(120deg, #8787876f 0%, #87878700 65%);
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}