* {
  --font-main: 'Rubik', sans-serif;
  box-sizing: border-box;
  /* Colors */
  --clr-accent-main: #3696da;
  --clr-accent-secondary: #8b47af;
  --clr-text-light: #fff;
  --clr-text-dark: #000;
  font-family: var(--font-main);
}

body {
  background: #233142;
  font-family: var(--font-main);
  color: #333333;
  line-height: 1;
}