header {
  /* height: 80px; */
  margin: 0 auto;
  padding: 15px 15px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  border-bottom: 2px solid var(--clr-accent-secondary);
  box-shadow: 0 0 35px 0 var(--clr-accent-secondary);
}

.header-icon {
  display: block;
  height: 50px;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.nav-button {
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  max-height: 50px;
  background: none;
  color: var(--clr-text-light);
  border-bottom: 3px solid #00000000;
  transition: border-bottom 0.2s ease;
}

.nav-button:hover {
  border-bottom: 3px solid var(--clr-accent-main);
}

.active-page-button {
  border-bottom: 3px solid var(--clr-accent-main);
}

.nav-button svg {
  font-size: 1.7rem;
}